{% extends 'reg/layout.html' %}
{% block body %}
    
<br>
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <h1>ยินดีต้อนรับ</h1>
            <h2>{{student.student.first_name}} {{student.student.last_name}}</h2>
            <img src="https://picsum.photos/660/500" class="d-block w-100" alt="Random Image">
            <figcaption class="figure-caption">Random image from picsum.photos</figcaption>
        </div>
    </div>
</div>
{% endblock %}